version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
  device-bridge:
    build: ./device_bridge
    ports:
      - "6000:6000"
    volumes:
      - ./device_bridge:/app
